@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*html, body {
  height: 100% !important;
}*/

.selector-img{
  z-index: -1;
  position: absolute;
  max-width:100%;
  max-height:100%;
  top: 40%;
  transform: translateY(-40%);
}

.center{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
}

.selector {
  width: 300px;
  height: 348px;
  background-image: url("src/img/Seccion.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40em;
}

.segment {
  background-color: white;
  height: 100%;
  
  position: relative;
  width: 100%;

  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  /* box-shadow: 0 6px 24px #221625; */
}

.container-fluid{
  /* background: linear-gradient(135deg, #442c4a 0%, #221625 100%) no-repeat center center; */
  padding-right: 0px!important;
  padding-left: 0px!important;
  height: 100vh;
}

.row{
  display: flex;
  align-items: center;
  margin-right: 0px!important;
  margin-left: 0px!important;
  height: calc(100% -80px);
  height: -o-calc(100% - 80px); 
  height: -webkit-calc(100% - 80px); 
  height: -moz-calc(100% - 80px); 
}

.logo{
  position: fixed;
  bottom:5px;
  right:5px;
  opacity:0.5;
  z-index:99;
  color:white;
}

.selector-button{
  position:absolute;
  left: 5%;
  width: 255px;
  height: 50px;
}

.selected{
  background-color:rgba(72, 13, 105, 0.3);
}

.selector-button.fl-1{
  top:64.5%;
}

.selector-button.fl-2{
  top:50%;
}

.selector-button.fl-3{
  height: 60px!important;
  top:32.5%;
}

.selector-button.fl-4{
  top:18%;
}

.selector-button.fl-5{
  top:5%;
}

/*.main{
  position: absolute;
 top: 50%;
 transform: translateY(-50%);
}*/

body {
  background-color: #ece9f0 !important;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  /* background: #fff; */
/*  background: linear-gradient(135deg, #442c4a 0%, #221625 100%) no-repeat center center;*/
  background-size: 100% 100%;
  /* height: 100%; */
}

img {
  display: flex;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 1vw; */
}

.media{

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  margin: auto;
  float: none;
  display: block;
}

.hotspots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* top: 0; */
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.hotspots .hotspot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.hotspots .hotspot .trigger {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #ff2255;
  color: #EEE6F0;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: all;
  box-shadow: 0 0 0 0 #ff2255;
  transition: box-shadow 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hotspots .hotspot .trigger:hover {
  box-shadow: 0 0 0 8px rgba(255, 34, 85, 0.5);
}
.hotspots .hotspot .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}
.hotspots .hotspot .content::before {
  content: "";
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(34, 22, 37, 0.8);
  opacity: 0;
  transition: opacity 0.4s;
}
.hotspots .hotspot .content figure {
  position: relative;
  width: 100%;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
  transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hotspots .hotspot .content figure::before {
  content: "×";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #EEE6F0;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: rgba(68, 44, 74, 0.5);
  font-size: 24px;
  pointer-events: all;
  cursor: pointer;
}
.hotspots .hotspot .content figure img {
  width: 100%;
}
.hotspots .hotspot .content figure figcaption {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background: rgba(68, 44, 74, 0.5);
  color: white;
  pointer-events: none;
}
.hotspots .hotspot.reveal {
  z-index: 1;
  pointer-events: all;
}
.hotspots .hotspot.reveal .content {
  opacity: 1;
}
.hotspots .hotspot.reveal .content::before {
  opacity: 1;
}
.hotspots .hotspot.reveal .content figure {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  transition-delay: 0.4s;
  pointer-events: all;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hotspots .hotspot.reveal .content figure figcaption {
  pointer-events: all;
}
.modal-custom{
  min-height: calc(100% - (1.75rem * 2));
  max-width: 1024px;
  margin: 2.75rem auto;
}


@media(max-width:1024px){
  .media{max-width: 100%;}
}
@media (min-width:320px)  {.media{max-width: 98%;}}
@media (min-width:480px)  {.media{max-width: 98%;}}
@media (min-width:600px)  {.media{max-width: 76%;}}
@media (min-width:801px)  {}
@media (min-width:1023px) { .media{max-width: 100%;}}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
@media (min-width: 992px){

}
@media screen and (orientation:landscape){
  .media{
    max-width: 100%;
    margin: auto;
    float: none;
    display: block;
  }
}
