<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>Bosque Real</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <link rel="stylesheet" type="text/css" href="index.css">
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
       <link rel="stylesheet" type="text/css" href="index.css">
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></script>
       <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  </head>
    <div id="app" class="h-100">
     <body>
      
      <div class="container-fluid h-100">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
              <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              CC VIP RESIDENCES
            </a>
        </nav>
      

        <div class="row justify-content-center">
          <div class="col-4 my-auto">
            <div class="box">
              <div class="segment">
                  <div class="selector center">
                      <!-- <img src="./back/src/img/Seccion.jpg" class="selector-img" /> -->
                      <div >
                        <div class="selector-button fl-1" @click="setCurrentFloor(0)"></div>
                        <div class="selector-button fl-2" @click="setCurrentFloor(1)"></div>
                        <div class="selector-button fl-3" @click="setCurrentFloor(2)"></div>
                        <div class="selector-button fl-4" @click="setCurrentFloor(3)"></div>
                        <div class="selector-button fl-5" @click="setCurrentFloor(4)"></div>
        
                      </div>
        
                    </div>
                </div>
              </div>  
            </div>
            

          <div class="col-8 my-auto">
            <main>
                <div v-if="hotFloorplan" class="box">
                  <div class="segment">
                    <div class="media">
                      <figure><img :src="currentImage"/></figure>
                    </div>
                    <div class="hotspots">
                        <template v-if="currentFloor == 0">
                          <template v-for="(hot,key,index) in filteredFloor(0)">
                                <div class="hotspot">
                                  <div class="trigger" data-toggle="modal" data-target=".bd-example-modal-lg" @click="setPopUpData(hot.hotspot[0].imgToSet,hot.hotspot[0].txtDisplay)" v-bind:style="{top: hot.hotspot[0].t + '%', left: hot.hotspot[0].l + '%'}"><i class="fa fa-camera"></i></div>

                                </div>
                          </template>
                        </template>
                        <template v-if="currentFloor == 1">
                          <template v-for="(hot,key,index) in filteredFloor(1)">
                                <div class="hotspot">
                                  <div class="trigger" data-toggle="modal" data-target=".bd-example-modal-lg" @click="setPopUpData(hot.hotspot[0].imgToSet,hot.hotspot[0].txtDisplay)" v-bind:style="{top: hot.hotspot[0].t + '%', left: hot.hotspot[0].l + '%'}"><i class="fa fa-camera"></i></div>                                    <div class="content">

                                    </div>
                                </div>
                          </template>
                        </template>
                        <template v-if="currentFloor == 2">
                          <template v-for="(hot,key,index) in filteredFloor(2)">
                                <div class="hotspot">
                                  <div class="trigger" v-bind:style="{top: hot.hotspot[0].t + '%', left: hot.hotspot[0].l + '%'}"><i class="fa fa-camera"></i></div>
                                    <div class="content">


                                    </div>
                                </div>
                          </template>
                        </template>
                  </div>
                </div>
              </div>
            </main>
          </div>

         <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-lg modal-dialog-centered">
             <div class="modal-content">
               <img :src="currentFloorImage"/>
               <div class="modal-header">
                    <h5 class="modal-title">{{currentTxt}}</h5>
               </div>

             </div>
           </div>
         </div>

      </div>
      <div class="logo">
        <img src="https://via.placeholder.com/200x70" / class="logo-img">
      </div>
     </body>
  </div>
</div>



   <script src="main.js"></script>

</html>
